/* Variable fonts don't just work with weight! */
/* https://fonts.google.com/specimen/Kablammo */

h1 {
  /* Using the MORF axis to vary the shape of the letters, play with hover effects! */
  font-variation-settings: "MORF" 0;
  transition: all 1s ease;

  &:hover {
    font-variation-settings: "MORF" 60;
  }
}
